extends layout

block content
    nav
       ul
            li
                a(href='/registro') Agregar Resitencia
            li
                a(href='/resistencias') Ver Resistencias
            li
                a(href='/borrar') Borrar Resistencia
            li
                a(href='/actualizar') Actualizar Resistencia
            li
                a(href='/resistencia') Buscar Resistencia